<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd" id="WebApp_ID" version="3.0">
  <display-name>TPWeb</display-name>
  <welcome-file-list>
    <welcome-file>index.jsp</welcome-file>
  </welcome-file-list>
  <session-config>
    <session-timeout>10</session-timeout>
  </session-config>



  <servlet>
    <servlet-name>ListeTest</servlet-name>
    <jsp-file>/WEB-INF/test/listeTest.jsp</jsp-file>
  </servlet>
  <servlet-mapping>
    <servlet-name>ListeTest</servlet-name>
    <url-pattern>/ListeTest</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>MesTest</servlet-name>
    <jsp-file>/WEB-INF/test/listeTestCandidat.jsp</jsp-file>
  </servlet>
  <servlet-mapping>
    <servlet-name>MesTest</servlet-name>
    <url-pattern>/MesTest</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>CreerTest</servlet-name>
    <jsp-file>/WEB-INF/test/CreerTest.jsp</jsp-file>
  </servlet>
  <servlet-mapping>
    <servlet-name>CreerTest</servlet-name>
    <url-pattern>/CreerTest</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>AjoutSectionTest</servlet-name>
    <jsp-file>/WEB-INF/test/AjoutSectionTest.jsp</jsp-file>
  </servlet>
  <servlet-mapping>
    <servlet-name>AjoutSectionTest</servlet-name>
    <url-pattern>/AjoutSectionTest</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>index</servlet-name>
    <jsp-file>/index.jsp</jsp-file>
  </servlet>
  <servlet-mapping>
    <servlet-name>index</servlet-name>
    <url-pattern>/Home</url-pattern>
  </servlet-mapping>

</web-app>