<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd" id="WebApp_ID" version="3.0">
  <display-name>TPWeb</display-name>
  <welcome-file-list>
    <welcome-file>index.jsp</welcome-file>
  </welcome-file-list>
  <session-config>
    <session-timeout>10</session-timeout>
  </session-config>



  <servlet>
    <servlet-name>ListeTest</servlet-name>
    <jsp-file>/WEB-INF/test/listeTest.jsp</jsp-file>
  </servlet>
  <servlet-mapping>
    <servlet-name>ListeTest</servlet-name>
    <url-pattern>/ListeTest</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>MesTest</servlet-name>
    <jsp-file>/WEB-INF/test/listeTestCandidat.jsp</jsp-file>
  </servlet>
  <servlet-mapping>
    <servlet-name>MesTest</servlet-name>
    <url-pattern>/MesTest</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>CreerTest</servlet-name>
    <jsp-file>/WEB-INF/test/CreerTest.jsp</jsp-file>
  </servlet>
  <servlet-mapping>
    <servlet-name>CreerTest</servlet-name>
    <url-pattern>/CreerTest</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>AjoutSectionTest</servlet-name>
    <jsp-file>/WEB-INF/test/AjoutSectionTest.jsp</jsp-file>
  </servlet>
  <servlet-mapping>
    <servlet-name>AjoutSectionTest</servlet-name>
    <url-pattern>/AjoutSectionTest</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>index</servlet-name>
    <jsp-file>/index.jsp</jsp-file>
  </servlet>
  <servlet-mapping>
    <servlet-name>index</servlet-name>
    <url-pattern>/Home</url-pattern>
  </servlet-mapping>


<!-- ANCIENT  -->

  <servlet>
    <servlet-name>Formations</servlet-name>
    <jsp-file>/formation/formations.jsp</jsp-file>
  </servlet>
  <servlet-mapping>
    <servlet-name>Formations</servlet-name>
    <url-pattern>/formationsPage</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>AfficherErreur</servlet-name>
    <jsp-file>/erreur/erreur.jsp</jsp-file>
  </servlet>
  <servlet-mapping>
    <servlet-name>AfficherErreur</servlet-name>
    <url-pattern>/erreurPage</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>AfficherMenuAnimateur</servlet-name>
    <jsp-file>/animateur/menuAnimateur.jsp</jsp-file>
  </servlet>
  <servlet-mapping>
    <servlet-name>AfficherMenuAnimateur</servlet-name>
    <url-pattern>/animateur/menuAnimateurPage</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>AfficherMenuCandidat</servlet-name>
    <jsp-file>/candidat/menuCandidat.jsp</jsp-file>
  </servlet>
  <servlet-mapping>
    <servlet-name>AfficherMenuCandidat</servlet-name>
    <url-pattern>/candidat/menuCandidatPage</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>JSP_GestionFormations</servlet-name>
    <jsp-file>/animateur/gestionFormations.jsp</jsp-file>
  </servlet>
  <servlet-mapping>
    <servlet-name>JSP_GestionFormations</servlet-name>
    <url-pattern>/gestionFormations</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>JSP_ViewFormation</servlet-name>
    <jsp-file>/animateur/uneFormation.jsp</jsp-file>
  </servlet>
  <servlet-mapping>
    <servlet-name>JSP_ViewFormation</servlet-name>
    <url-pattern>/JSP_ViewFormation</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>JSP_AddFormation</servlet-name>
    <jsp-file>/animateur/addFormation.jsp</jsp-file>
  </servlet>
  <servlet-mapping>
    <servlet-name>JSP_AddFormation</servlet-name>
    <url-pattern>/JSP_AddFormation</url-pattern>
  </servlet-mapping>
  <resource-ref>
    <res-ref-name>jdbc/formations</res-ref-name>
    <res-type>javax.sql.DataSource</res-type>
    <res-auth>Container</res-auth>
  </resource-ref>
  <servlet>
    <servlet-name>JSP_Candidat_Formations</servlet-name>
    <jsp-file>/candidat/vosFormations.jsp</jsp-file>
  </servlet>
  <servlet-mapping>
    <servlet-name>JSP_Candidat_Formations</servlet-name>
    <url-pattern>/JSP_Candidat_Formations</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>JSP_Candidat_Profil</servlet-name>
    <jsp-file>/candidat/profil.jsp</jsp-file>
  </servlet>
  <servlet-mapping>
    <servlet-name>JSP_Candidat_Profil</servlet-name>
    <url-pattern>/JSP_Candidat_Profil</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>REST</servlet-name>
    <servlet-class>org.glassfish.jersey.servlet.ServletContainer</servlet-class>
    <init-param>
      <param-name>jersey.config.server.provider.packages</param-name>
      <param-value>fr.eni_ecole.jee.services</param-value>
    </init-param>
    <load-on-startup>1</load-on-startup>
  </servlet>
  <servlet-mapping>
    <servlet-name>REST</servlet-name>
    <url-pattern>/rest/*</url-pattern>
  </servlet-mapping>
</web-app>