USE [master]
GO
/****** Object:  Database [QCM]    Script Date: 30/06/2017 10:16:50 ******/
CREATE DATABASE [QCM]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'QCM', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL12.MSSQLSERVER\MSSQL\DATA\QCM.mdf' , SIZE = 5120KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'QCM_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL12.MSSQLSERVER\MSSQL\DATA\QCM_log.ldf' , SIZE = 1024KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [QCM].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [QCM]
GO
/****** Object:  Table [dbo].[Candidat]    Script Date: 30/06/2017 10:16:50 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Candidat](
	[idUtilisateur] [int] NOT NULL,
	[idType] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[idUtilisateur] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Formateur]    Script Date: 30/06/2017 10:16:50 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Formateur](
	[idUtilisateur] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[idUtilisateur] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Proposition]    Script Date: 30/06/2017 10:16:50 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Proposition](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[libelle] [varchar](max) NULL,
	[reponse] [bit] NULL,
	[idQuestion] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[Qcm]    Script Date: 30/06/2017 10:16:50 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Qcm](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[timer] [int] NULL,
	[idTypeTest] [int] NOT NULL,
	[libelle] [varchar](max) NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[QcmCandidat]    Script Date: 30/06/2017 10:16:50 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[QcmCandidat](
	[idQcm] [int] NULL,
	[idCandidat] [int] NULL
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Question]    Script Date: 30/06/2017 10:16:50 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Question](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[libelle] [varchar](max) NULL,
	[image] [varchar](max) NULL,
	[idSection] [int] NOT NULL,
	[idTypeQuestion] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[QuestionQcm]    Script Date: 30/06/2017 10:16:50 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[QuestionQcm](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[libelle] [varchar](max) NULL,
	[image] [varchar](max) NULL,
	[marque] [bit] NULL,
	[idTheme] [int] NOT NULL,
	[idTypeQuestion] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[Reponse]    Script Date: 30/06/2017 10:16:50 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Reponse](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[libelle] [text] NULL,
	[reponse] [varchar](max) NULL,
	[reponseCandidat] [varchar](max) NULL,
	[idQuestionQcm] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[SecTest]    Script Date: 30/06/2017 10:16:50 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SecTest](
	[idTest] [int] NULL,
	[idSection] [int] NULL
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Section]    Script Date: 30/06/2017 10:16:50 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Section](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[libelle] [varchar](max) NULL,
	[idFormateur] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[Test]    Script Date: 30/06/2017 10:16:50 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Test](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[libelle] [text] NULL,
	[timer] [int] NULL,
	[idFormateur] [int] NOT NULL,
	[idTypeTest] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Theme]    Script Date: 30/06/2017 10:16:50 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Theme](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[timer] [int] NULL,
	[idQcm] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[TypeCandidat]    Script Date: 30/06/2017 10:16:50 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[TypeCandidat](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[libelle] [varchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[TypeQues]    Script Date: 30/06/2017 10:16:50 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[TypeQues](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[libelle] [varchar](max) NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[TypeTest]    Script Date: 30/06/2017 10:16:50 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[TypeTest](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[libelle] [varchar](max) NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[Utilisateur]    Script Date: 30/06/2017 10:16:50 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Utilisateur](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[nom] [varchar](50) NULL,
	[prenom] [varchar](50) NULL,
	[mail] [varchar](255) NULL,
	[login] [varchar](255) NULL,
	[password] [varchar](255) NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
ALTER TABLE [dbo].[Candidat]  WITH CHECK ADD FOREIGN KEY([idType])
REFERENCES [dbo].[TypeCandidat] ([id])
GO
ALTER TABLE [dbo].[Candidat]  WITH CHECK ADD FOREIGN KEY([idUtilisateur])
REFERENCES [dbo].[Utilisateur] ([id])
GO
ALTER TABLE [dbo].[Formateur]  WITH CHECK ADD FOREIGN KEY([idUtilisateur])
REFERENCES [dbo].[Utilisateur] ([id])
GO
ALTER TABLE [dbo].[Proposition]  WITH CHECK ADD FOREIGN KEY([idQuestion])
REFERENCES [dbo].[Question] ([id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Qcm]  WITH CHECK ADD FOREIGN KEY([idTypeTest])
REFERENCES [dbo].[TypeTest] ([id])
GO
ALTER TABLE [dbo].[QcmCandidat]  WITH CHECK ADD FOREIGN KEY([idCandidat])
REFERENCES [dbo].[Candidat] ([idUtilisateur])
GO
ALTER TABLE [dbo].[QcmCandidat]  WITH CHECK ADD FOREIGN KEY([idQcm])
REFERENCES [dbo].[Qcm] ([id])
GO
ALTER TABLE [dbo].[Question]  WITH CHECK ADD FOREIGN KEY([idSection])
REFERENCES [dbo].[Section] ([id])
GO
ALTER TABLE [dbo].[Question]  WITH CHECK ADD FOREIGN KEY([idTypeQuestion])
REFERENCES [dbo].[TypeQues] ([id])
GO
ALTER TABLE [dbo].[QuestionQcm]  WITH CHECK ADD FOREIGN KEY([idTheme])
REFERENCES [dbo].[Theme] ([id])
GO
ALTER TABLE [dbo].[QuestionQcm]  WITH CHECK ADD FOREIGN KEY([idTypeQuestion])
REFERENCES [dbo].[TypeQues] ([id])
GO
ALTER TABLE [dbo].[Reponse]  WITH CHECK ADD FOREIGN KEY([idQuestionQcm])
REFERENCES [dbo].[QuestionQcm] ([id])
GO
ALTER TABLE [dbo].[SecTest]  WITH CHECK ADD FOREIGN KEY([idSection])
REFERENCES [dbo].[Section] ([id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[SecTest]  WITH CHECK ADD FOREIGN KEY([idTest])
REFERENCES [dbo].[Test] ([id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Section]  WITH CHECK ADD FOREIGN KEY([idFormateur])
REFERENCES [dbo].[Formateur] ([idUtilisateur])
GO
ALTER TABLE [dbo].[Test]  WITH CHECK ADD FOREIGN KEY([idFormateur])
REFERENCES [dbo].[Formateur] ([idUtilisateur])
GO
ALTER TABLE [dbo].[Test]  WITH CHECK ADD FOREIGN KEY([idTypeTest])
REFERENCES [dbo].[TypeTest] ([id])
GO
ALTER TABLE [dbo].[Theme]  WITH CHECK ADD FOREIGN KEY([idQcm])
REFERENCES [dbo].[Qcm] ([id])
GO
USE [master]
GO
